:root{
    --mainColor: #606B56;
    --secondaryColor: #515A48;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --border-color: #161914;

    --previewBg : rgb(81, 90, 72, 0.8) ;
    --preveiwShadow : #2a2f25;

    --themeDotBorder: #fff;

    --buttonColor: #669966;
}